@import url("/style/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline-style: none;
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -0.23px;
    word-break: keep-all;
    color:black;
    font-weight: 400;
}